/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================*/

strong {
	font-weight: bold;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25em;
  padding: 20px 0;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
}

h3 {
	color: rgba(156, 156, 156, 1.0);
}


h4 {
  font-size: 1.5em;
  line-height: 1.25em;
}

h5 {
  color: rgba(174, 92, 200, 1.0);
  font-size: 2.5em;
  font-weight: bold;
}



h6 {
  color: rgba(100, 100, 100, 1.0);
  font-size: 1.25em;
}

p {
  color: rgba(22, 22, 22, 1.0);
  line-height: 2em;
	font-size: 1.2em;
}


body {
	display: block;
  font-family: sans-serif;
}




.mty-pic {
  padding: 30px 0;
}

.header {
  background-color: black;
}

.top-container {
  margin: 0 auto;
  max-width: 640px;
	overflow: auto;
}

.top-text {
  margin: 20px 0;
}

.top-text h4 {
  margin: 40px 0;
}


.header h1, h4 {
  color: white;
}

.alter-text {
  border-bottom: dashed 3px rgba(174, 92, 200, 1.0);
  margin: 20px 0;
  padding: 0 0 10px 0;
  width: 350px;
}


button {
	background-color: rgba(174, 92, 200, 1.0);
	border: none;
	border-radius: 4px;
	color: white;
	float: left;
	font-size: 1.2em;
	margin: 10px 0 25px 0;
	padding: 20px;
	width: 30%;
}

input {
	background-color: white;
	border-radius: 4px;
	font-size: 1.2em;
	float: left;
	margin: 10px;
	padding: 20px;
	width: 55%;
}

/*================*/

.body-container {
  margin: 0 auto;
  max-width: 640px;
}

.lower-title {
  padding: 20px 0;
}

.picture-group {
	overflow: auto;
}

.picture-group, .all-logos {
	float: left;
  margin: 20px auto;
  width: 100%;

}

.author-info {
	float: left;
  margin: 0 5px;
  width: 31%;
}

.author-name {
  font-size: 1.2em;
  margin: 5px 0;
}

.author-text {
  color: rgba(156, 156, 156, 1.0);
	font-size: .9em;
	line-height: 1.6em;
}

.marketing-text {
  color: rgba(21, 22, 23, 1.0);
  line-height: 2.5em;
}


.all-logos {
	overflow: auto;
	width: 100%;
}

.all-logos img {
	align-items: center;
	width: 60%;
}

.logo-fc {
	float: left;
	width: 33%
}

.logo-tnw {
	float: left;
	width: 33%

}

.logo-qu {
	float: left;
	width: 33%

}

.join-text {
	margin: 30px 0;
}

.body-container input {
	background: rgba(230, 230, 230, 1.0);
}

.crew-logo {
	margin: 30px 0;
}

span {
	color: rgba(156, 156, 156, 1.0);

}

@media only screen and (max-width: 619px) {

	 .top-container, .body-container {
		 width: 88%;
	 }


/*=============================*/
	.picture-group, .all-logos {
	  margin: 20px;
	  width: 90%;
	}

	img {
		margin-top: 20px;
		width: 125px;

	}

	.author-info {
	  width: 100%;
		overflow: auto;

	}

	.pic {
		float: left;
	}

	.author-name {
		outline: 1px dashed red;
	  font-size: 1.2em;
		margin-top: 20px;
		padding: 0 0 0 10px;
	}

	.author-text {
		outline: 1px dashed red;
	  color: rgba(156, 156, 156, 1.0);
		display: block;
		width: 100%;
	}

	.marketing-text {
		display: inline-block;
	}
/*========================*/

	button {
	  background-color: rgba(174, 92, 200, 1.0);
		border-radius: 4px;
		color: white;
		display: block;
		font-size: 1.2em;
	  margin: 10px;
	  padding: 15px 20px;
		width: 90%;
	}

	input {
	  background-color: rgba(230, 230, 230, 1.0);
	  border-radius: 4px;
		font-size: 1.2em;
		display: block;
	  margin: 10px;
	  padding: 20px;
		width: 78%;
	}
